body {
    margin: 0px;
}

section {
    width: 70%;
    height: 100%;
    margin: 0px auto 100px auto;
    background-color: #fdeeee
    
}

article {
    margin: 0px 30px 50px 30px;
    padding-top: 10px;
    
}

.data {
    color: #008080;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}